# Ignore all .env files
*.env
*.env.*

# 로그 파일
*.log
proxy/access.log
proxy/error.log
logs/
**/logs/

# Ignore certs directory and its contents
certs/

postgrest/postgrest.conf
nginx/nginx.conf

# Ignore proxy directory and its contents
proxy/*.log

# backup files
*.tar
*.tar.gz
# Certificates
*.pem
*.crt
*.key
*.jwk.json
certs/

!keygen/